*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# App
/app/build/
/app/release/

# Tests
app/src/test
app/src/androidTest

# Signing key
secrets/android-app-signing-key.jks
